{% extends "base.html.twig" %}
{% block title %}
    Movies Page
{% endblock %}

{% block body %}
    {# {% if movies %}
        {% for movie in movies %}
            <li>
                {{ movie }}
            </li>
        {% endfor %}
    {% else %}
        <p>Oops! No Movies set</p>
    {% endif %} #}
    {# {{ _self }}
    {{ _charset }}
    {{ author }} #}
    <h1>Boy</h1>
    <img src="{{ asset('build/images/tanke.34d21cfd.jpg') }}" alt="">
{% endblock %}